/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
    font-size: 10px;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 900px;
	margin: auto;
}


header {
	display: flex;
	justify-content: space-between;
}
.logo {
	margin-top: 30px;
	/* margin-left: 30px; */
}
header nav {
	margin-top: 40px;
	max-width: 650px;
	/* justify-content: space-evenly; */
    display: flex; 
    flex-grow: 1;
	justify-content:  space-between;
}
header nav a {
	/* margin: 0 20px; */
	/* margin-right: 60px; */
	text-decoration: none;
	color: lightgrey;
	/* margin: auto; */
}

.top-container {
	margin-top: 50px;
	margin-bottom: 60px;
	display: flex; 
	justify-content: space-between; 
}
.cta {
    margin-top: 40px;
    margin-left: 120px;
	/* with flex we can either set the width or add a margin to balance.  */
    /* width: 379px; image width */
	/* margin-left: 10px;
	margin-top: 90px; */
} 

h1.cta-title  {
	text-align: center;
	/* margin: 0 auto; */
	font-size: 4rem;
/* 	width: 310px; */
/* 	margin-left: 80px; */
}

button {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	color: black;
	border: 1px solid #555555;
	padding: 5px 30px;
	background-color: white;
}

.main-content {
    margin-bottom: 15px;
 
}

.top {
	display: flex;
	justify-content: space-between;
}
.middle-container {
   display: flex;
   justify-content: space-between;
} 
.para {
	margin-top: 30px;
    /* width: 425px; */
    
    margin-right: 10px;
	margin-bottom: 30px;
	/* height: 120px; */
	/* margin-top: 30px; */
	/* margin-right: 30px; */
	/* float: left; */
}
/* .para:nth-child(odd) {
	float: right;
} */

.middle-img {
    /* max-width: 900px; */
    max-width: 100%;
}
.lower-container {
	display: flex;
	justify-content: space-between;
}

.para2 {
    margin-top: 30px;
    margin-right: 26px;
    /* margin-right: 30px; */
	/* width: 275px; */
	/* display: inline-block; */
	/* height: auto; */
	/* float: left; */
	/* margin-right: 20px; */
	/* margin-top: 20px; */
/* 	margin-bottom: 50px; */
/* 	padding-bottom:  */
}
.bottom {
	/* float: none; */
}
.contact-div {
	/* float: none; */
	/* display: block; */
	margin-top: 20px;
	text-align: left;
	/* paddiung-top: 50px; */
}

.contact-title {
	/* margin-top: 20px; */
}

.copyright {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 250px;
}
@media(max-width: 800px) {
    .container {
        max-width: 780px;
        margin: 0 auto;
        /* flex: 1 100%; */

    }
    header {
        /* display: flex; */
        /* flex-direction: column-reverse; */
        flex-wrap: wrap;
        /* justify-content: center; */
        flex-direction: column-reverse;
        align-items: center;
        /* flex-flow: row wrap; */
        /* align-content: center; */
    }
    header nav {
        width: 800px;
        /* display: flex;  */
        /* flex-grow: 1; */
        /* justify-content: space-between; */
        
        /* align-items: center; */
        /* margin-right: 80px; */
        align-content: stretch;
    }

    .cta  {
        margin-left: 0px;
    }

    .logo {

    }
    .header-image {
        display: none;
    }
    .top-container {
        justify-content: center; 

    }

    .para {
        margin-left: 10px;
        margin-right: 20px;
        /* margin-right: 10px; */
    }


    .para2 {
        margin-left: 10px;
        margin-right: 35px;
    }


    .middle-img {

    }
    /* .section */
    .contact-div {
        margin-left: 10px;
    }

}

@media(max-width: 500px) {

    .container {
        max-width: 500px;
        margin: 0 auto;
        /* flex: 1 100%; */

    }
    header {
        
        /* display: flex; */
        /* flex-direction: column-reverse; */
        /* flex-wrap: wrap; */
        justify-content: center;
        /* flex-direction: column-reverse; */
        /* align-items: center; */
        /* flex-flow: row wrap; */
        /* align-content: center; */
    }

    header nav {
        max-width: 500px;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        margin-top: 20px;
    }

    header nav a {
        width: 500px;
        text-align: center;
        display: block;
        /* margin-top: 10px; */
        margin-bottom: 10px;
        padding-top: 10px;
        /* padding-bottom: 10px; */
        border-top: 2px solid darkgray;
    }

    header nav a:last-child {
        padding-bottom: 10px;
        border-bottom: 2px solid darkgrey;
    }
    .cta  {
        margin-left: 0px;
    }

    .logo {
        
    }
    .header-image {
        display: none;
    }
    .top-container {
        justify-content: center; 

    }
    .middle-container {
        flex-direction: column;
    }
    .para {
        margin-left: 10px;
        /* margin-right: 0px; */
    }

    .lower-container {
        flex-direction: column;
    }
    .para2 {
        margin-left: 10px;
        /* margin-right: 0px; */
    }
    hr {
        margin: 0 auto; 
        width: 95%;
    }

    .middle-img {
        width: 95%;
        margin-left: 10px;
    }
    /* .section */
    .contact-div {
        margin-left: 10px;
    }

}